body{
      
  font-family: 'Roboto', sans-serif;
}
.menu_button ul{
  display: flex;
  margin: 0;
  padding: 0%;
  
}
.menu_button ul li{
  list-style-type: none;
}
.menu_button ul li button{
  margin: 0px 5px;
}
.bg_container{
  display: flex;
  justify-content: space-between;
}
.bg_card{
  display: flex;
  width: 75%;
  /*background-color: red;*/
}
.bg_small_card {
  padding: 15px;
  width: 25%;
  /*background-color: rgb(220, 220, 220);*/
  height: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
}
.bg_small_card1{
  display: flex;
  justify-content: space-between;
}
.bg_small_card1_img{
  display: flex;
}
.bg_small_card1 img{
  width: 50px; height: 50px;
  object-fit: cover;
}